@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primaryTextColor : rgb(255, 255, 255);
$primaryBackgroundColor : rgb(62,44,60);
$buttonBackground : rgb(217,203,130);
$buttonHoverBackground : rgb(152,172,123);
$primaryFontFamily : 'Roboto', sans-serif;

body {
	font-family: $primaryFontFamily;
	width: 100%;

	.main_content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 85vh;
		width: 100vw;
		
		
		.main_content_left {
			margin-left: 1em;
			flex-shrink: 1;
		}
		
		.main_content_right {
			margin-right: 1em;
			flex-shrink: 1;
		}
		.main_content_center {
			flex-shrink: 5;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 60%;

			.header1 {
				text-align: center;
				font-size: 2.5em;
			}
		
			.content1_container {
				text-align: justify;
				display: flex;
				align-items: center;
				flex-direction: column;
				margin-top: 2em;
			}
		
			.button1 {
				text-decoration: none;
				color: $primaryTextColor;
				border: $primaryTextColor;
				border-style: solid;
				border-width: 2px;
				border-radius: 20px;
				text-align: center;
				padding: 14px 25px;
				min-width: 150px;
				max-width: 200px;
				width: 40%;
				margin-top: 2em;
			}
		
			.button1:hover {
				background-color: $buttonHoverBackground;
				color: $primaryTextColor;
				transition: ease .5s;
			}

		}

	}

	.bottom_nav {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: auto;
		margin-bottom: 10px;
		height: 20px;
		z-index: 10;

		.bottom_dot {

			.dot {
				height: 10px;
				margin: 5px;
			}
		}
	}
	
}	